html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-size: 13.5px;
}

.wrapper.activity.media.activity-wrapper {
  border: 1px solid #ddd;
}

.wrapper.activity-wrapper {
  margin: 30px 0;
  background: #d3d3d3;
  overflow: auto;
  position: relative;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive-16by9 {
  padding-bottom: 55%;
}

audio,
video {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.wrapper.activity.media.activity-wrapper {
  border: 1px solid #ddd;
}

.wrapper.activity.media.activity-wrapper .transcript {
  background-color: #fff;
  padding: 1rem;
}

.wrapper.activity.media.activity-wrapper .transcript p {
  margin-bottom: 0;
}

.wrapper.activity.media.activity-wrapper .question-text {
  background: #f2f2f2;
  padding: 12px;
}

.wrapper.activity.media.activity-wrapper .question-text p:last-child {
  margin-bottom: 0;
}

.wrapper.activity.media.activity-wrapper .media-library {
  border-top: 1px solid #222222;
  overflow-y: auto;
  max-height: 155px;
  border-bottom: 1px solid #222222;
}

.wrapper.activity.media.activity-wrapper .video-library-item {
  border: 1px solid #222222;
  border-top: 0;
  cursor: pointer;
  background: #3e3e3e;
  transition: 0.2s ease;
  overflow: hidden;
  padding: 0;
}

.wrapper.activity.media.activity-wrapper .video-library-item:last-of-type {
  border-bottom: 0;
}

.wrapper.activity.media.activity-wrapper .video-library-item:hover,
.wrapper.activity.media.activity-wrapper .video-library-item.active {
  background: #5a5a5a;
}

.wrapper.activity.media.activity-wrapper .video-library-item:hover .img-thumbnail,
.wrapper.activity.media.activity-wrapper .video-library-item.active .img-thumbnail {
  outline: 100px solid rgba(255, 255, 255, 0.2);
  outline-offset: -100px;
}

.wrapper.activity.media.activity-wrapper .video-library-item.selected {
  background: #222222;
  cursor: default;
}

.wrapper.activity.media.activity-wrapper .video-item,
.wrapper.activity.media.activity-wrapper .video-thumb {
  width: 100% !important;
  float: left;
}

.wrapper.activity.media.activity-wrapper .video-item .img-thumbnail,
.wrapper.activity.media.activity-wrapper .video-item h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .video-item p.media-library-item-summary,
.wrapper.activity.media.activity-wrapper .video-thumb .img-thumbnail,
.wrapper.activity.media.activity-wrapper .video-thumb h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .video-thumb p.media-library-item-summary {
  display: inline-block;
  /* float: left; */
}

.wrapper.activity.media.activity-wrapper .video-item .img-thumbnail,
.wrapper.activity.media.activity-wrapper .video-thumb .img-thumbnail {
  width: 25%;
  padding: 0;
  border: 0;
  border-right: 1px solid #222222;
  outline: 100px solid rgba(255, 255, 255, 0);
  outline-offset: -100px;
}

.wrapper.activity.media.activity-wrapper .video-item h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .video-item p.media-library-item-summary,
.wrapper.activity.media.activity-wrapper .video-thumb h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .video-thumb p.media-library-item-summary {
  width: 75%;
  padding: 8px;
  margin: 0;
  color: #ffffff;
}

.wrapper.activity.media.activity-wrapper .video-item p.media-library-item-summary,
.wrapper.activity.media.activity-wrapper .video-thumb p.media-library-item-summary {
  padding-top: 0;
}

audio,
video {
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}

.audio-button.glyphicon {
  font-size: 18px !important;
  top: 4px !important;
  display: inline-block;
  padding: 10px;
  margin: -14px -10px !important;
  cursor: pointer;
}

.audio-button.glyphicon:before {
  border-radius: 3px;
  padding: 2px 5px;
  border: 1px solid transparent;
}

.audio-button.glyphicon:hover:before {
  border: 1px solid #cccccc;
  transition: 0.2s ease !important;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
}

.audio-button.glyphicon.selected {
  color: #008bbd;
  border-color: transparent;
}

.audio-button.glyphicon.selected:before {
  border: 1px solid #cccccc;
  transition: 0.2s ease !important;
  background: #ffffff;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0);
}

.audio-button.glyphicon.selected:hover:before {
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.4);
}

.media-library-item-title {
  padding-left: 5px;
}

video::-internal-media-controls-download-button {
  display: none;
}

@media (max-width: 620px) {

  video::-webkit-media-controls-volume-slider,
  video::-webkit-media-controls-timeline {
    color: #c8c8c8;
  }

  .wrapper.activity.media.activity-wrapper .question-text {
    padding: 8px;
  }

  .wrapper.activity.media.activity-wrapper .video-item:hover .img-thumbnail {
    outline: 70px solid rgba(255, 255, 255, 0.2);
    outline-offset: -70px;
  }
}

.accessible-version .wrapper.activity.media.activity-wrapper {
  border: 0;
  padding: 0;
}

.margin-top {
  margin-top: 20rem;
}

.activity-wrapper {
  /* max-width: 746px; */
}

.wrapper.activity.media.activity-wrapper .video-toolbar,
.wrapper.activity.media.activity-wrapper .audio-toolbar {
  background-color: #fafafa;
  padding: 0.5rem 0.7rem;
  text-align: right;
  padding-right: 6px;
}

.wrapper.activity.media.activity-wrapper .video-toolbar button,
.wrapper.activity.media.activity-wrapper .audio-toolbar button {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-right: 0;
  color: #5a5a5a;
}

.wrapper.activity.media.activity-wrapper .video-toolbar button:hover,
.wrapper.activity.media.activity-wrapper .audio-toolbar button:hover {
  color: #5a5a5a;
}

.wrapper.activity.media.activity-wrapper .video-toolbar button:active,
.wrapper.activity.media.activity-wrapper .audio-toolbar button:active {
  outline: none;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.firefox,
.wrapper.activity.media.activity-wrapper .audio-toolbar.firefox {
  background-color: #141415;
  padding-right: 17px;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.firefox button,
.wrapper.activity.media.activity-wrapper .audio-toolbar.firefox button {
  color: #ffffff;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.firefox button:hover,
.wrapper.activity.media.activity-wrapper .audio-toolbar.firefox button:hover {
  color: #48a0f7;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.safari,
.wrapper.activity.media.activity-wrapper .audio-toolbar.safari {
  background-color: #292929;
  padding-right: 8px;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.safari button,
.wrapper.activity.media.activity-wrapper .audio-toolbar.safari button {
  color: #9c9c9c;
  font-weight: 300;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.safari button:hover,
.wrapper.activity.media.activity-wrapper .audio-toolbar.safari button:hover {
  color: #9c9c9c;
}

.wrapper.activity.media.activity-wrapper .video-toolbar.safari button:active,
.wrapper.activity.media.activity-wrapper .audio-toolbar.safari button:active {
  color: #ffffff;
}

.wrapper.activity.media.activity-wrapper .media-library {
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper.activity.media.activity-wrapper .media-library.hide-on-load {
  display: none;
}

.wrapper.activity.media.activity-wrapper .media-library-item {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.wrapper.activity.media.activity-wrapper .media-library-item:last-of-type .media-library-item-btn {
  border-bottom: 0;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn {
  display: block;
  width: 100% !important;
  border: 1px solid #757575;
  border-top: 0;
  cursor: pointer;
  background: #3e3e3e;
  transition: 0.2s ease;
  overflow: hidden;
  text-align: left;
  margin: 0;
  padding: 0;
  position: relative;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn:focus {
  outline: 0;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn:hover,
.wrapper.activity.media.activity-wrapper .media-library-item-btn:focus,
.wrapper.activity.media.activity-wrapper .media-library-item-btn.active {
  background: #5a5a5a;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn:hover:after,
.wrapper.activity.media.activity-wrapper .media-library-item-btn:focus:after,
.wrapper.activity.media.activity-wrapper .media-library-item-btn.active:after {
  box-shadow: inset 0px 0px 0px 2px white;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn.selected {
  background: #222222;
  cursor: default;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn .img-thumbnail,
.wrapper.activity.media.activity-wrapper .media-library-item-btn h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .media-library-item-btn p.media-library-item-summary {
  display: inline-block;
  float: left;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn .img-thumbnail {
  border-radius: 0;
  width: 25%;
  padding: 0;
  border: 0;
  border-right: 1px solid #222222;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn h4.media-library-item-title,
.wrapper.activity.media.activity-wrapper .media-library-item-btn p.media-library-item-summary {
  width: 75%;
  padding: 8px;
  margin: 0;
  color: #ffffff;
}

.wrapper.activity.media.activity-wrapper .media-library-item-btn p.media-library-item-summary {
  padding-top: 0;
}

.wrapper.activity.media.activity-wrapper.media {
  background: transparent;
}

.wrapper.activity.media.activity-wrapper .video-wrapper {
  background-color: #000;
}

.wrapper.activity.media.activity-wrapper .video-and-transcript-wrapper {
  display: block;
  background-color: #f0f0f0;
}

.wrapper.activity.media.activity-wrapper .video-and-transcript-wrapper .video-wrapper {
  width: 100%;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper {
  background-color: #f0f0f0;
  display: none;
  position: relative;
  height: 100%;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper .transcript-middle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper .transcript-middle .transcript-inner {
  overflow: auto;
  padding: 1rem;
  line-height: 1.33333;
  font-size: 1.4rem;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper .cuepoint.active {
  color: #4688f1;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper p:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h1:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h2:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h3:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h4:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h5:first-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h6:first-child {
  margin-top: 0;
}

.wrapper.activity.media.activity-wrapper .transcript-wrapper p:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h1:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h2:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h3:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h4:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h5:last-child,
.wrapper.activity.media.activity-wrapper .transcript-wrapper h6:last-child {
  margin-bottom: 0;
}

.wrapper.activity.media.activity-wrapper .media-library-item .img-thumbnail {
  display: none;
}

.wrapper.activity.media.activity-wrapper.media.show-transcript .transcript-wrapper {
  display: block;
  height: 155px;
  overflow-y: auto;
}

@media (min-width: 400px) {
  .wrapper.activity.media.activity-wrapper .media-library-item .img-thumbnail {
    display: block;
  }
}

@media (min-width: 600px) {
  .wrapper.activity.media.activity-wrapper .video-and-transcript-wrapper {
    display: flex;
    align-content: stretch;
  }

  .wrapper.activity.media.activity-wrapper .video-and-transcript-wrapper .video-wrapper {
    width: 100%;
  }

  .wrapper.activity.media.activity-wrapper.show-transcript .video-and-transcript-wrapper .video-wrapper {
    width: 65%;
  }

  .wrapper.activity.media.activity-wrapper.show-transcript .video-and-transcript-wrapper .transcript-wrapper {
    display: block;
    width: 35%;
    height: auto;
  }
}