<!DOCTYPE html>
<html>
  <head lang="en">
    <link rel="stylesheet" href="../static/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PhoenixWhisper</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-black mb-5">
      <div class="container-fluid justify-content-center">
        <h2 class="navbar-text text-white">Phoenix Whisper for Transcribing Videos</h2>
      </div>
    </nav>
    <div class="container-fluid text-center bg-white vh-100 min-vh-100 mt-1">
      <div class="row">
        <div class="col">
          <p>Please choose the YouTube URL on the list and choose any languages</p>
          <form action="/submit" method="post" class="px-5">
            <div class="mb-3">
              <label for="inputUrl" class="form-label fw-bold">Enter YouTube URL</label>
              <input required type="url" name="url" class="form-control text-center" />
            </div>
            <div class="mb-3 fw-bold">
              <label for="FormControlSelect">Choose a translation language</label>
              <select class="form-control text-center mt-2" id="eFormControlSelect" name="target_lan">
                <option value="en">English</option>
                <option value="de">German</option>
                <option value="fr">French</option>
                <option value="es">Spanish</option>
                <option value="vi">Vietnamese</option>
                <option value="sv">Swedish</option>
                <option value="el">Greek</option>
              </select>
            </div>
            <div class="mb-3 fw-bold">
              <label for="FormControlSelect2">Choose a translation model</label>
              <select class="form-control text-center mt-2" id="eFormControlSelect2" name="translation_model">
                <option value="mtm">MTM</option>
                <option value="gpt">GPT</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="inputUrl" class="form-label fw-bold">Enter OpenAI API key</label>
              <input type="text" name="openai_apikey" class="form-control" />
            </div>
            <div class="mb-3">
              <label for="inputUrl" class="form-label fw-bold">Initial Prompt for "Todays is a beautiful day"</label>
              <input type="text" name="initial_prompt" class="form-control" />
            </div>
            <button id="test" type="submit" value="submit" class="btn btn-dark">Submit</button>
            <p id="waiting" class="mt-3" style="display: none">Please wait...</p>
            <br />
            <script>
              var x;
              x = document.getElementById("test");
              y = document.getElementById("waiting");
              function display() {
                y.style.display = "block";
              }
              x.onclick = display;
            </script>
          </form>
        </div>
        <div class="col" class="">
          <p class="fs-3 fw-bold mt-3">
            A list of YouTube videos
          </p>
          <p style="white-space: pre-wrap">{{ video_list }}</p>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
