<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body>
    <div class="wrapper activity media activity-wrapper video" data-show-transcript-at-start="false">
        <div class="video-and-transcript-wrapper">
            <div class="video-wrapper">
                <div align="center" class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls="controls" controlslist="nodownload" data-autoplay-on-select="true" crossorigin="anonymous" data-showing-captions="false">
                        <source src="{{url_for('static', filename='resources/' + name +'.mp4')}}" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="transcript-wrapper group">
                <div class="transcript-middle">
                    <div class="transcript-inner"></div>
                </div>
            </div>
        </div>
        <div class="video-toolbar">
            <button class="btn-toggle-transcript">Show transcript</button>
        </div>
        <ol class="media-library hide-on-load">
            <li class="media-library-item col-sm-3">
                <button class="media-library-item-btn" data-video-src="{{url_for('static', filename='resources/' + name +'.mp4')}}"
                    data-captions-src="{{url_for('static', filename='resources/' + name + "." + target_lan +'.vtt')}}" data-transcript-src="{{url_for('static', filename='resources/' + name + "." + target_lan + '.vtt')}}">                  
                </button>
            </li>
        </ol>
    </div>    
  </body>
</html>
